.img1
{
    margin-left: 100px;
}
.div1
{
    margin: 15px;
    margin-right: 80px;
    
    
}
.div3
{
height: 40px;
border: lightgray;
width: 422px;
color: rgb(33,33.33);
border-radius: 5%;



}
.div2
{
    margin-left: 350px;
   

}

.div4
{
    height: 40px;
    font-size: 16px;
    max-width: 129px;
    background-color: #80BF32;
    color: white;
    border: 0px;
    width: 90px;
    border-radius: 5%;
}

.div5
{
    height: 40px;
    font-size: 16px;
    max-width: 129px;
    background-color: #f14d54;
    color: white;
    border: 0px;
    width: 90px;
    border-radius: 5%;
}
.div6
{
    color: black;
    margin-left: 550px;
    margin-bottom: 50px;
}
.div11
{
    display: flex;
}
.div7
{
    margin-left: 89px;
    margin-top: 50px;

}
.div9
{
    margin-top: 50px;
    margin-left: 150px;
}
.div8
{
    height: 40px;
    width: 400px;
}
.div10
{
    height: 40px;
    width: 400px;
}
.div12
{
    display: flex;
}
.div13
{
    margin-top: 35px;
    margin-left: 89px;
    width: 400px;
    height: 40px;
}
.div14
{
    margin-top: 35px;
    margin-left: 250px;
    width: 400px;
    height: 40px;
}
.div15
{
    background-color: lightgray;
    
    height: 200px;
}
.div16
{
    margin-left: 550px;
    margin-top: 40px;
}
.div17
{
    margin-left: 570px;
    color: grey;

}